# Global environment variables
SWAGGER_UI_DOCUMENTATION_ENABLED=true
BANKCORESYSTEM_DATASOURCE_USERNAME=username-bankcore-system
BANKCORESYSTEM_DATASOURCE_PASSWORD=password-bankcore-system
BANKCORESYSTEM_SECRET_KEY=YS1zdHJpbmctc2VjcmV0LWF0LWxlYXN0LTI1Ni1iaXRzLWxvbmc=
CUSTOMERS_SERVICE_URL=http://localhost:8081

# MS-accounts environment variables
SPRING_DATASOURCE_URL_ACCOUNTS=jdbc:postgresql://localhost:5432/accounts_db
DATASOURCE_DB_NAME_ACCOUNTS=accounts_db
BANKCORESYSTEM_LIMIT_CHECKING=3000.00
BANKCORESYSTEM_LIMIT_SAVINGS=1000.00

# MS-customers environment variables
SPRING_DATASOURCE_URL_CUSTOMERS=jdbc:postgresql://localhost:5432/customers_db
DATASOURCE_DB_NAME_CUSTOMERS=customers_db
# MS-CUSTOMERS CORS
# CORS - Allowed Origins (comma-separated no-spaces)
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:4200,https://mifrontend.com
CORS_ALLOWED_METHODS=GET,POST,PUT,DELETE,PATCH
CORS_MAX_AGE=3600